<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/3225d728-c0f4-4fc3-8617-614ce980b928/resourcegroups/servicesaspnetcorelinux/providers/Microsoft.Web/sites/ServicesASPNETCoreDocker20171102073917</ResourceId>
    <ContainerResourceId>/subscriptions/3225d728-c0f4-4fc3-8617-614ce980b928/resourceGroups/servicesaspnetcorelinux/providers/Microsoft.ContainerRegistry/registries/registry20171102070456</ContainerResourceId>
    <ContainerResourceName>registry20171102070456</ContainerResourceName>
    <ResourceGroup>servicesaspnetcorelinux</ResourceGroup>
    <Subscription>Visual Studio Premium with MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20171102070456.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://servicesaspnetcoredocker20171102073917.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4827fb2c-0ff0-49a4-98e5-5ab78e761cba</ProjectGuid>
  </PropertyGroup>
</Project>